@import url('https://fonts.googleapis.com/css?family=Joti+One');

.logo {
    max-width:48px;
    margin-bottom: 20px;
}

.title {
    font-family: 'Joti One', cursive;
    font-size: 36px;
    padding: 0 0 0 10px;
    margin-top: 10px;
    display: inline-block;
}

.input-group .form-control {
    border-color: #366897;
}

.btn-secondary {
    border-color: #366897 !important;
}