@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.wrapper {
    font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
.logo {
    max-width:48px;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
    padding: 0 0 0 10px;
    margin-top: 10px;
    display: inline-block;
}

/* FORM */
.input-group {
    margin: 20px 0;
}

.input-group .form-control {
    border-color: #366897;
}

.btn-secondary {
    border-color: #366897 !important;
}

/* TABLE */

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

td:first-child {
    width: 75px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
width: 0;
}

.stars-inner::before {
content: "\f005 \f005 \f005 \f005 \f005";
color: #f8ce0b;
}

td:last-of-type, td:last-of-type > div {
    height: 125px;
    width: 200px;
}
